.logoFondo1{
    background-image: url(https://cdn.pixabay.com/photo/2017/05/13/12/40/fashion-2309519_1280.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(40%);
    height: 33rem;
}
.texto h1{
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: 'roschild';
    font-weight: 1100;
    text-shadow: 1px 1px 10px black;
    align-self: center;
    justify-self: center;
    text-align: center;
}
.logoFondo2{
    background-image: url(https://cdn.pixabay.com/photo/2020/05/17/15/36/underwear-5182191_1280.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(70%);
    height: 33rem;
}
.logoFondo3{
    background-image: url(https://cdn.pixabay.com/photo/2018/03/12/20/57/woman-3220835_1280.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(90%);
    height: 33rem;
}